<div class="footer-level2 footer-level">
  <div class="footer-column">
    <h3 class="footer-heading">Our Philosophy</h3>
      <a class="footer-link" href="/about/#motivations">Motivations</a>
      <a class="footer-link" href="/about/#mision">Mision</a>
      <a class="footer-link" href="/about/#vision">Vision</a>
      <a class="footer-link" href="/about/#values">Values</a>
  </div>

  <div class="footer-column">
    <h3 class="footer-heading">Our Methods</h3>
    <a class="footer-link" href="/about/#approach">Approach</a>
    <a class="footer-link" href="/about/#practices">Practices</a>
    <a class="footer-link" href="/about/#framework">Framework</a>
    <a class="footer-link" href="/about/#ecosystem">Ecosystem</a>
  </div>

  <div class="footer-column">
    <h3 class="footer-heading">Case Studies</h3>
    <a class="footer-link" href="/cases/adoption">Adoption</a>
    <a class="footer-link" href="/cases/scaling">Scaling</a>
    <a class="footer-link" href="/cases/optimization">Optimization</a>
    <a class="footer-link" href="/cases/innovation">Innovation</a>
  </div>
</div>

