<section class="hero">
  <div class="hero-container">
    <section class="project-hero-wrapper">
      <div class="project-hero-lines" id="lineGrid"></div>
      
      <div class="hero-content">
        {{ partial "projects/symbol.html" (dict
          "context" .
          "boxClass" "symbol--single"
          )
        }}
        <!-- <div class="hero-text"> -->
        <!--   <h1 class="hero-tagline">Engineering tomorrow's systems</h1> -->
        <!--   <p class="hero-descriptor">AI & Infrastructure Consulting</p> -->
        <!-- </div> -->
      </div>
      
    </section>
  </div>
</section>
